* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
} 
.logo-img{

width: 120px;
       
}
.navBard{
    background-color: #cf245f;
        background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);
        border-radius: 5px;
        width: 100%;
        
}
